{% extends 'CoreBundle:Backend/User:layout.html.twig' %}

{% block title %}Сотрудники / {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/list-delete-popover.js') }}"></script>
{% endblock %}

{% block content %}
    {{ parent() }}
    <h2 class="sub-header">
        Сотрудники
        <small>
            <a class="btn btn-sm btn-default" href="{{ path('backend_user_new') }}">Добавить</a>
        </small>
    </h2>
    {% if pagination.getTotalItemCount %}
        {% include 'CoreBundle:Backend/User:list_content.html.twig' %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        Нет сотрудников
    {% endif %}
{% endblock %}