{% extends 'CoreBundle:Backend/User:layout.html.twig' %}

{% block title %}Новый сотрудник / {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/backend-user-form.js') }}"></script>
{% endblock %}

{% block content %}
    {{ parent() }}
    <h2 class="sub-header">Новый сотрудник</h2>
    <form class="form-horizontal form-bordered" action="{{ path('backend_user_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        {{ form_widget(form) }}
    </form>
{% endblock %}