{% extends 'CoreBundle:Backend:layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/charts.js') }}"></script>
{% endblock %}

{% block content %}
    {{ parent() }}
    <script>
        var chartsData = {% autoescape false %}{{ chartsData }}{% endautoescape %};
    </script>
    <h1 class="page-header">Добро пожаловать</h1>
    <div class="row charts">
        <div class="col-md-6">
            <h3>Количество клиентов</h3>
            <canvas id="canvas-clients-count"></canvas>
        </div>
        <div class="col-md-6">
            <h3>Приток клиентов</h3>
            <canvas id="canvas-clients-inflow"></canvas>
        </div>
        <div class="col-md-6">
            <h3>Количество сотрудников</h3>
            <canvas id="canvas-users"></canvas>
        </div>
        <div class="col-md-6">
            <h3>Оборот</h3>
            <canvas id="canvas-transactions"></canvas>
        </div>
        <div class="col-md-6">
            <h3>Средний вес товаров</h3>
            <canvas id="canvas-goods-weight"></canvas>
        </div>
        <div class="col-md-6">
            <h3>Средний объем товаров</h3>
            <canvas id="canvas-goods-space"></canvas>
        </div>
    </div>
{% endblock %}