{% extends 'CoreBundle:Backend:security_layout.html.twig' %}

{% block title %}Вход / {{ parent() }}{% endblock %}

{% form_theme form 'CoreBundle:Form:layout_auth.html.twig' %}

{% block content %}
    {{ parent() }}
    <form class="form-signin" action="{{ path('backend_security_check') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        {#<h2 class="form-signin-heading">Необходима авторизация</h2>#}
        {{ form_widget(form) }}
    </form>
{% endblock %}