{% extends 'CoreBundle:Backend:security_layout.html.twig' %}

{% block title %}Вход / {{ parent() }}{% endblock %}

{% form_theme form 'CoreBundle:Form:layout_auth.html.twig' %}

{% block content %}
    {{ parent() }}
    <form class="form-signin" action="{{ path('backend_security_check') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        <h2 class="form-signin-heading">{% autoescape false %}{{ podorozhny_company_name }}{% endautoescape %}</h2>
        <div class="alert alert-info">
            <b>Демо-доступ:</b><br />
            Электропочта: miller@homework.podorozhny.ru<br />
            Пароль: doshiraklapshichka
        </div>
        {{ form_widget(form) }}
    </form>
{% endblock %}