{% extends 'CoreBundle:Backend:security_layout.html.twig' %}

{% block title %}Вход / {{ parent() }}{% endblock %}

{% block content %}
    {{ parent() }}
    <section class="site-section site-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form class="form-horizontal form-bordered" action="{{ path('backend_security_check') }}" method="post" {{ form_enctype(form) }} id="form-feedback" novalidate="novalidate">
                        <h3 class="form-title">Вход</h3>
                        {{ form_widget(form) }}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}